.checkout-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  float: left;

  img {
    height: 200px;
    padding: 20px;
    line-height: 1px;
  }

  .checkout-header {
    display: flex;
    justify-content: space-around;
  } 
  .item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px black solid;

   > * {
    width: 200px;
    text-align: center;
  }
}
.total-price {
  margin-left: auto;
  padding: 20px
}
}

